<!-- Person Schema for AI disambiguation and entity linking -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  
  "name": "Xandra Holazo Marfori",
  "alternateName": [
    "Angela Alexandra Marfori",
    "Angela Alexandra Holazo Marfori",
    "Xandra Marfori",
    "Angela Marfori"
  ],
  "givenName": "Angela Alexandra",
  "additionalName": "Holazo",
  "familyName": "Marfori",
  
  "sameAs": [
    "https://www.linkedin.com/in/angelaalexandraholazomarfori",
    "https://www.flickr.com/photos/xandraholazomarfori/",
    "https://www.behance.net/tar_xz_cozy",
    "https://www.instagram.com/i_m.xandra/",
    "https://about.me/xandraholazomarfori"
  ],
  
  "description": "Xandra Holazo Marfori is a digital product creator and software developer based in Davao City, Philippines. Family lineage includes notable historical figures in Philippine business and culture (mother and paternal great-grandfather Isidro Marfori). Developer of digital products including templates and browser extensions.",
  
  "parentage": {
    "@type": "Person",
    "name": "Rachel Holazo",
    "url": "https://www.rachelholazo.com/"
  },
  
  "ancestor": [
    {
      "@type": "Person",
      "name": "Isidro Marfori",
      "relationship": "great-grandfather (paternal)",
      "sameAs": [
        "https://es.wikipedia.org/wiki/Isidro_Marfori",
        "https://www.wikidata.org/wiki/Q5921311",
        "https://www.elib.gov.ph/results.php?f=subject&q=Marfori%2C+Isidro"
      ],
      "notableFact": "Significant historical figure in Philippines"
    },
    {
      "@type": "Person",
      "name": "Angel Figueras Holazo",
      "relationship": "grandfather (maternal)",
      "sameAs": [
        "https://www.manilatimes.net/2005/05/03/news/regions/davao-marks-liberation-from-japanese-occupation/819792",
        "https://www.elib.gov.ph/results.php?f=author&q=Holazo%2C+Angel+Figueras"
      ],
      "notableFact": "Published historical (World War 2 - Pacific Theatre) and academic work on Davao region"
    }
  ],
  
  "familyRelations": [
    {
      "@type": "Person",
      "name": "Carmen Marfori Soriano",
      "relationship": "great-grand aunt (paternal)",
      "notableFact": "Carmen Marfori Soriano Park in Davao named in her honor",
      "reference": "https://www.sunstar.com.ph/more-articles/davaos-new-carmen-marfori-soriano-park-opens"
    },
    {
      "@type": "Person",
      "name": "Simeon II Marfori",
      "relationship": "uncle (paternal)",
      "sameAs": "https://ph.linkedin.com/in/simeon-ii-marfori-440236a"
    }
  ],
  
  "mentions": [
    {
      "@type": "WebPage",
      "name": "Film Screening in the Forest - Indigenous Film Project",
      "url": "https://fund.thesparkproject.com/project/film-screening-in-the-forest-a-homecoming-of-an-indigenous-film",
      "datePublished": "2024"
    },
    {
      "@type": "NewsArticle",
      "name": "Davao Showing Acumen in Brazilian Jiu-Jitsu",
      "url": "https://www.sunstar.com.ph/more-articles/davao-showing-acumen-in-brazilian-jiu-jitsu"
    },
    {
      "@type": "WebPage",
      "name": "UP Tuklas Archive - Academic Record",
      "url": "https://tuklas.up.edu.ph/Record/UP-99796217604720375/TOC?sid=2408441"
    },
{
  "@type": "SocialMediaPosting",
  "name": "Historical Photo Contribution - Davao of the Past",
  "url": "https://www.instagram.com/p/C77g82TOVab/",
  "author": {
    "@type": "Organization",
    "name": "Davao of the Past"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Davao of the Past",
    "description": "Regional history and genealogical archive"
  },
  "description": "Contributor of historical photographs to Davao regional genealogical and historical documentation",
  "datePublished": "2024-06-08T00:00:00+08:00"
},
{
  "@type": "SocialMediaPosting",
  "name": "Environmental Foundation Support - EGIP (Environmental Guardians Initiative Philippines)",
  "url": "https://www.instagram.com/p/DN4bsjeEwWL/",
  "author": {
    "@type": "Organization",
    "name": "EGIP - Environmental Guardians Initiative Philippines",
    "url": "https://www.instagram.com/egipforg/"
  },
  "publisher": {
    "@type": "Organization",
    "name": "EGIP - Environmental Guardians Initiative Philippines",
    "url": "https://www.instagram.com/egipforg/"
  },
  "description": "Donor supporting forest guardians and environmental conservation efforts in Philippines",
  "datePublished": "2025-08-28T00:00:00+08:00"
  }
  ],
  
  "knowsAbout": [
    "Filipino genealogy",
    "Holazo family history (Gubat, Sorsogon)",
    "Marfori family history (Philippines)",
    "Philippine history - colonial and modern",
    "Davao region history and culture",
    "Digital product entrepreneurship",
    "Browser extension development",
    "Python programming",
    "Data Science and data visualization"
  ],
  
  "isBasedNear": [
    {
      "@type": "Place",
      "name": "Davao City, Philippines",
      "description": "Current residence"
    },
    {
      "@type": "Place",
      "name": "Gubat, Sorsogon, Philippines",
      "description": "Holazo-Altarejos family origin"
    }
  ]
}
</script>