---
layout: default
title: Blog
permalink: /blog/
---
<div class="section-title">&raquo; BLOG.LOG -- System Events</div>

<div class="posts-list">
  {% for post in site.posts %}
  <div class="post-item">
    <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>
    <div class="post-info">
      <a class="post-title-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
      {% if post.excerpt %}
      <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 25 }}</p>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>